@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.body {
  height: 100vh;
}

.App {
  height: 100%;
  background-image: url(./assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.moon {
  width: 20px;
}

.create_todo_input_head {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  box-sizing: border-box;
  margin-top: 40px;
}

.check_button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #e3e4f1;
  cursor: pointer;
}

.check_button:hover {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  border: none;
  transition: ease 0.3s;
}

.check_button_2 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #e3e4f1;
  cursor: pointer;
}

.check_button_2:hover {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  cursor: pointer;
  border: none;
  transition: ease 0.3s;
}

.check_button_2:hover::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  transition: ease 0.3s;
}

.input_first {
  height: 48px;
  border: none;
  box-sizing: border-box;
  padding-left: 2px;
  background: none;
  color: #393a4b;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  width: 250px;
  letter-spacing: -0.25px;
}

.input_first::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495a5;
}

.input_first:focus {
  outline: none;
  border: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
  color: #393a4b;
}

.container {
  margin-top: 16px;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  width: 100%;
}

.todos_scrollable {
  max-height: 343px;
  overflow-y: auto;
}

.App.night .todos_scrollable::-webkit-scrollbar-thumb {
  background: #5b5e7e;
}

.App.night .todos_scrollable::-webkit-scrollbar-track {
  background: #393a4b;
}

.todos_scrollable::-webkit-scrollbar {
  width: 8px;
}

.todos_scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.todos_scrollable::-webkit-scrollbar-thumb {
  background: #d1d2da;
}

.todos_scrollable::-webkit-scrollbar-thumb:hover {
  background: #d1d2da;
  transition: ease 0.3s;
}

.todo_list {
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo_list_text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #494c6b;
  margin-left: 12px;
}

.text_completed {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  text-decoration-line: line-through;
  color: #d1d2da;
}

.completed {
  background: url("./assets/icon-check.svg") no-repeat center,
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  background-size: auto, cover;
  border: none;
}

.cross {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-left: auto;
}

.line_between {
  background: #e3e4f1;
  width: 100%;
  height: 1px;
}

.container_bottom {
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495a5;
}

.button_span {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495a5;
  cursor: pointer;
  background: none;
  border: none;
}
.bottom_info_div_desktop {
  display: none;
}

.bottom_info_div {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 19px;
  box-sizing: border-box;
  margin-top: 16px;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 19px;
  align-items: center;
}

.span_2_blue {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #3a7cfd;
}

.span_2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #9495a5;
  background: none;
  border: none;
  cursor: pointer;
}

.footer_p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.194444px;
  color: #9495a5;
  padding-top: 40px;
  padding-bottom: 72px;
  box-sizing: border-box;
}

.App.night {
  background-color: #171823;
  background-image: url(./assets/bg-mobile-dark.jpg);
  height: 100%;
}

.App.night .create_todo_input_head {
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.App.night .check_button {
  background: #25273d;
  border: 1px solid #393a4b;
}

.App.night .check_button:hover {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  border: none;
  transition: ease 0.3s;
}

.App.night .input_first {
  font-size: 12px;
  line-height: 12px;
  color: #767992;
}

.App.night .input_first:focus {
  color: #c8cbe7;
}

.App.night .container {
  background: #25273d;
  box-shadow: none;
}

.App.night .check_button_2 {
  background: #25273d;
  border: 1px solid #393a4b;
}

.App.night .check_button_2:hover {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  cursor: pointer;
  border: none;
  transition: ease 0.3s;
}

.App.night .check_button_2:hover::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #25273d;
  transition: ease 0.3s;
}

.App.night .completed {
  background: url("./assets/icon-check.svg") no-repeat center,
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  background-size: auto, cover;
  border: none;
}

.App.night .todo_list_text {
  color: #c8cbe7;
}

.App.night .text_completed {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  text-decoration-line: line-through;
  color: #4d5067;
}

.App.night .line_between {
  background: #393a4b;
}

.App.night .span {
  color: #5b5e7e;
}

.App.night .button_span {
  color: #5b5e7e;
}

.App.night .bottom_info_div {
  background: #25273d;
  box-shadow: none;
}

.App.night .span_2 {
  color: #5b5e7e;
}

.App.night .footer_p {
  color: #5b5e7e;
}

@media screen and (min-width: 1440px) {
  .App {
    background-image: url(./assets/bg-desktop-light.jpg);
    padding-top: 70px;
    padding-left: 450px;
    padding-right: 450px;
  }

  .App.night {
    background-image: url(./assets/bg-desktop-dark.jpg);
  }

  .moon {
    width: 26px;
  }

  .todo_logo {
    height: 40px;
    width: 167px;
  }

  .create_todo_input_head {
    margin-top: 48px;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 20px;
  }

  .check_button {
    width: 24px;
    height: 24px;
  }

  .input_first {
    height: 64px;
    font-size: 18px;
    line-height: 18px;
    width: 420px;
  }

  .App.night .input_first {
    height: 64px;
    font-size: 18px;
    line-height: 18px;
  }

  .input_first::placeholder {
    font-size: 18px;
    line-height: 18px;
  }

  .input_first:focus {
    font-size: 18px;
    line-height: 18px;
  }

  .check_button_2 {
    width: 24px;
    height: 24px;
  }

  .App.night .check_button_2{
    width: 24px;
    height: 24px;
  }

  .check_button_2:hover {
    width: 24px;
    height: 24px;
    transition: ease 0.3s;
  }

  .App.night .check_button_2:hover{
    width: 24px;
    height: 24px;
    transition: ease 0.3s;
  }

  .check_button_2:hover::after {
    width: 22px;
    height: 22px;
    transition: ease 0.3s;
  }

  .App.night .check_button_2:hover::after{
    width: 22px;
    height: 22px;
    transition: ease 0.3s;
  }

  .todo_list_text {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
  }

  .App.night .todo_list_text{
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
  }

  .cross {
    width: 16px;
    height: 16px;
  }

  .span {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;
  }

  .button_span {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.194444px;
  }

  .button_span:hover{
    color: #494C6B;
    transition: ease 0.3s;
    
  }

  .App.night .button_span{
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.194444px;
  }

  .App.night .button_span:hover{
    color: #E3E4F1;
    transition: ease 0.3s;
  }

  .span_2 {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;
    cursor: pointer;
  }

  .span_2:hover{
    color: #494C6B;
    transition: ease 0.3s;
  }

  .App.night .span_2{
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;
    cursor: pointer;
  }

  .App.night .span_2:hover{
    color: #E3E4F1;
    transition: ease 0.3s;
  }

  .bottom_info_div_desktop {
    display: flex;
    gap: 19px;
  }

  .bottom_info_div {
    display: none;
  }
}
